footer {
  border-top: 1px solid rgb(95, 96, 97);
  padding: 56px 0px;
  min-height: 12rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-about {
  inline-size: 11.5rem;
}

.footer-services {
  inline-size: 11.5rem;

}

.footer-made {
  inline-size: 11.5rem;

}