header {
  position: sticky;
  inline-size: 100%;
  top: 0;
  z-index: 1;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: solid gray;
}

.navbar {
  display: flex;
  background-color: $background-color;
  justify-content: space-between;
  max-width: 48rem;
  width: 48rem;
  height: 4rem;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    padding: 6px 8px 0px 8px;
    margin-top: -8px;
    &:hover {
      background-color: $footer-color;
      cursor: pointer;
    }
  }

  menu {
    display: flex;
    justify-content: flex-end;
    inline-size: 15rem;
    align-items: center;
    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 6px 8px 0px 8px;
      margin-top: -8px;
      svg {
        block-size: 2.3rem;
        inline-size: 2.3rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__cart {
    position: relative;
    span {
      position: absolute;
      top: 5px;
      right: -5px;
    }
    &-quantity {
      border: 1px solid black;
      border-radius: 50%;
      background-color: black;
      height: 14px;
      width: 14px;
      text-align: center;
      padding: 3px;
      font-weight: 500;
      font-size: 0.8rem;
    }
  }
}
