.navbar-wrapper {
  display: flex;
  inline-size: 100%;
  justify-content: center;
  border-bottom: solid gray;
}

.navbar {
  display: flex;
  background-color: $background-color;
  justify-content: space-between;
  max-width: 44rem;
  width: 44rem;
  height: 4rem;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    padding: 6px 8px 0px 8px;
    margin-top: -8px;
    &:hover {
      background-color: $footer-color;
      cursor: pointer;
    }
  }

  menu {
    display: flex;
    justify-content: space-around;
    inline-size: 15rem;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 6px 8px 0px 8px;
      margin-top: -8px;
      svg {
        block-size: 2.3rem;
        inline-size: 2.3rem;
      }
      &:hover {
        cursor: pointer;
        background-color: $footer-color;
      }
    }
  }
}
