html,
body {
  height: 100%;
  background-color: $background-color;
}

li {
  color: $dark-li-color;
}

h1,
h2,
h3,
h4,
h5 {
  color: $dark-heading-color;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
}

p {
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  color: $dark-p-color;
}

a {
  color: $dark-link-color;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  text-decoration: none;
  &:hover {
    color: $dark-link-color-hover;
    transition: 0.3s;
  }
}
