.home {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    svg {
      block-size: 3.6rem;
      inline-size: 3.6rem;
    }
  }

  &__avoList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
