.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__children {
    padding: 32px;
    border: 1px solid red;
  }
}

li {
  color: $dark-li-color;
}

h1 {
  color: $dark-h1-color;
}

a {
  color: $dark-li-color;
}

footer {
  background-color: $footer-color;
  margin-top: auto;
  block-size: 50px;
  margin-left: -6px;
  margin-right: -6px;
}
